# Introdução

## Importação das bibliotecas necessarias

In [24]:
import requests
import pandas as pd
import os
import json
import sys
import matplotlib.pyplot as plt
import funcoes_comuns as fc
from importlib import reload
reload(fc)

# Dataframe base de Código do município e Ano

In [3]:
base_df = fc.get_tb_municipios()
base_df.head()

  CODIGO_MUNICIPIO  ano_nasc CODMUNRES
0          1100015      2012    110001
1          1100015      2013    110001
2          1100015      2014    110001
3          1100015      2015    110001
4          1100015      2016    110001

# Nascidos vivos de mulheres de 2012 a 2020

In [5]:
%time
df_t_nasc_vivos = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as TOTAL_DE_NASCIDOS_VIVOS \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 3 µs, sys: 2 µs, total: 5 µs
Wall time: 8.11 µs
...................................................(y)
Record rows length : 50268

# Quantidade de nascidos vivos de mulheres com idade inferior a 20 anos (gestação na adolescência)

In [6]:
%time
df_menor20 = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as NVM_MENOR_QUE_20_ANOS \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    IDADEMAE>=10 AND \
                    IDADEMAE<=19 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 0 ns
..................................................(y)
Record rows length : 49810

# Quantidade de nascidos vivos de mulheres com idade entre 20 e 34 anos

In [7]:
%time
df_entre20_34 = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as NVM_ENTRE_20_E_34_ANOS \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    IDADEMAE>=20 AND \
                    IDADEMAE<=34 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 0 ns
...................................................(y)
Record rows length : 50252

# Quantidade de nascidos vivos de mulheres com idade igual ou superior a 35 anos

In [8]:
%time
df_maior35 = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as NVM_MAIOR_QUE_34_ANOS \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    IDADEMAE>=35 AND \
                    IDADEMAE<=55 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 8.82 µs
..................................................(y)
Record rows length : 49833

# Quantidade de nascidos vivos de mulheres de cor da pele branca

In [9]:
%time
df_cor_branca = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as NVM_COM_COR_DA_PELE_BRANCA \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    RACACORMAE=1 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.63 µs
..................................................(y)
Record rows length : 49545

# Quantidade de nascidos vivos de mulheres de cor da pele preta

In [10]:
%time
df_cor_preta = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as NVM_COM_COR_DA_PELE_PRETA \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    RACACORMAE=2 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.39 µs
..........................................(y)
Record rows length : 41579

# Quantidade de nascidos vivos de mulheres de cor da pele parda

In [11]:
%time
df_cor_parda = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as NVM_COM_COR_DA_PELE_PARDA \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    RACACORMAE=4 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 8.34 µs
..................................................(y)
Record rows length : 49318

# Quantidade de nascidos vivos de mulheres de cor da pele amarela

In [12]:
%time
df_cor_amarela = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as NVM_COM_COR_DA_PELE_AMARELA \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    RACACORMAE=3 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.87 µs
................(y)
Record rows length : 15993

# Quantidade de nascidos vivos de mulheres indígenas

In [13]:
%time
df_cor_indigena = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as NVM_INDIGENAS \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    RACACORMAE=5 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.87 µs
............(y)
Record rows length : 11088

# Quantidade de mulheres com escolaridade até 4 anos

In [14]:
%time
df_esc_ate_4 = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as NVM_COM_ESCOLARIDADE_ATE_3 \
                    FROM \"datasus-sinasc\" \
                    WHERE (ano_nasc>=2012 AND \
                    ano_nasc<=2020) AND \
                    (ESCMAE=1 OR ESCMAE=2) \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 0 ns
...........................................(y)
Record rows length : 42656

# Quantidade de mulheres com escolaridade de 4 a 7 anos

In [15]:
%time
df_esc_4_a_7 = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as NVM_COM_ESCOLARIDADE_DE_4_A_7 \
                    FROM \"datasus-sinasc\" \
                    WHERE (ano_nasc>=2012 AND \
                    ano_nasc<=2020) AND \
                    (ESCMAE=3) \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 8.58 µs
..................................................(y)
Record rows length : 49795

# Quantidade de mulheres com escolaridade de 8 até 11 anos

In [16]:
%time
df_esc_8_a_11 = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as NVM_COM_ESCOLARIDADE_DE_8_A_11 \
                    FROM \"datasus-sinasc\" \
                    WHERE (ano_nasc>=2012 AND \
                    ano_nasc<=2020) AND \
                    (ESCMAE=4) \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 0 ns
...................................................(y)
Record rows length : 50232

# Quantidade de mulheres com escolaridade mais de 11 anos

In [17]:
%time
df_esc_acima_de_11 = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as NVM_COM_ESCOLARIDADE_ACIMA_DE_11 \
                    FROM \"datasus-sinasc\" \
                    WHERE (ano_nasc>=2012 AND \
                    ano_nasc<=2020) AND \
                    (ESCMAE=5) \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 6 µs, sys: 1 µs, total: 7 µs
Wall time: 14.8 µs
..................................................(y)
Record rows length : 49798

# Cobertura populacional com equipes de saúde da familia

In [19]:
# fonte do Historico-AB-MUNICIPIOS-2007-202012.xlsx:
# https://egestorab.saude.gov.br/paginas/acessoPublico/relatorios/relHistoricoCoberturaConsolidado.xhtml
df_array = []
for i in range(9):
    fc.dot_print()
    df_array.append(pd.read_excel("Historico-AB-MUNICIPIOS-2007-202012.xlsx", sheet_name = str(2012+i)))
print('(+)')

df_mun = pd.concat(df_array, ignore_index=True)
fc.dot_print()
df_mun = df_mun[['CO_MUNICIPIO_IBGE', 'NU_COMPETENCIA', 'PC_COBERTURA_SF', 'QT_COBERTURA_SF', 'QT_POPULACAO']]
fc.dot_print()
df_mun['NU_COMPETENCIA'] = df_mun['NU_COMPETENCIA'].astype(str)
fc.dot_print()
df_mun['CO_MUNICIPIO_IBGE'] = df_mun['CO_MUNICIPIO_IBGE'].astype(int)
fc.dot_print()
df_mun['PC_COBERTURA_SF'] = df_mun['PC_COBERTURA_SF'].apply(lambda x: float(x.split()[0].replace(',', '.')))
fc.dot_print()
df_mun['QT_COBERTURA_SF'] = df_mun['QT_COBERTURA_SF'].apply(lambda x: int(x.split()[0].replace('.', '').replace('\'', '')))
fc.dot_print()
df_mun['QT_POPULACAO'] = df_mun['QT_POPULACAO'].apply(lambda x: int(x.split()[0].replace('.', '').replace('\'', '')))
fc.dot_print()
f2d = df_mun['NU_COMPETENCIA'].str.extract('([0-9]{4})', expand=False)
fc.dot_print()
df_mun['ANO'] = f2d.astype(int)
fc.dot_print()
df_mun = df_mun.sort_values(by=['CO_MUNICIPIO_IBGE', 'NU_COMPETENCIA'])
fc.dot_print()
df_mun_1 = df_mun.groupby(['CO_MUNICIPIO_IBGE','ANO'])[['QT_COBERTURA_SF', 'QT_POPULACAO']].mean().reset_index()
print('(y)')
data = []
df_cobertura_esf = pd.DataFrame(data, columns = ['CODMUNRES', 'ano_nasc', 'MEDIA_COBERTURA_ESF', 'POPULACAO_TOTAL'])
df_cobertura_esf['CODMUNRES'] = df_mun_1['CO_MUNICIPIO_IBGE']
df_cobertura_esf['ano_nasc'] = df_mun_1['ANO']
df_cobertura_esf['MEDIA_COBERTURA_ESF'] = df_mun_1['QT_COBERTURA_SF']
df_cobertura_esf['POPULACAO_TOTAL'] = df_mun_1['QT_POPULACAO']

.........(+)
..........(y)

# População Feminina de 10 a 49 anos

In [25]:
pop_fem = []

for i in range(9):
    fc.dot_print()
    pop_fem.extend(fc.fetch_pop_fem_from_tabnet(str(12+i).zfill(2), '49'))
print('(y)')

df_pop_fem = pd.DataFrame(pop_fem, columns = ['CODMUNRES', 'ano_nasc', 'POP_FEM_10_49'])

#df_pop_fem = pd.read_csv('../../csv_files/Alternativas/indicadores_bloco1_socioeconomicos_2012-2020.csv')

.........(y)

# População feminina com plano de saúde

In [26]:
df_xlsx = pd.read_excel("analise_da_cobertura_sus_-_com_substituicoes_27_10_2022.xlsx", sheet_name='cobertura sus por substituicao')
df_aux = df_xlsx.iloc[:,[0,24,25,26,27,28,29,30,31,32]]
df_aux = df_aux.dropna(subset=['codmun'])
df_ano = pd.DataFrame()
df_codmunres = pd.DataFrame()

lista = []
codmunres = []
transposto = []
fc.dot_print()
for row in range(len(df_aux.index)):
    codmunres.append(df_aux.iloc[row, 0])
    lista.append(df_aux.iloc[row, 1:10].values.tolist())
fc.dot_print()
for i in range(len(lista)):
    for j in range(len(lista[i])):
        transposto.append(lista[i][j])
fc.dot_print()

df_codmunres['CODMUNRES'] = codmunres
df_codmunres['CODMUNRES'] = df_codmunres['CODMUNRES'].astype(int)

df_ano['ano_nasc'] = [2012,2013,2014,2015,2016,2017,2018,2019,2020]
df_cob_sus = pd.merge(df_codmunres.assign(key=1), df_ano.assign(key=1),on='key').drop('key', axis=1)
df_cob_sus['COBERTURA_SUS'] = transposto


print('(y)')

...(y)

In [29]:
df_pop_fem_ps = pd.DataFrame([], columns = ['CODMUNRES', 'ano_nasc', 'POPULACAO_FEMININA_10_A_49', 'POP_FEM_10_49_COM_PLANO_SAUDE'])

df_pop_fem_ps['CODMUNRES'] = df_cob_sus['CODMUNRES']
df_pop_fem_ps['ano_nasc'] = df_cob_sus['ano_nasc']
df_pop_fem_ps['POPULACAO_FEMININA_10_A_49'] = df_pop_fem['POP_FEM_10_49']
#df_pop_fem_ps['POP_FEM_10_49_COM_PLANO_SAUDE'] = (df_acumulados['cobertura_saude_suplementar']*df_acumulados['total_mulheres']).astype(int)
#df_pop_fem_ps['POP_FEM_10_49_COM_PLANO_SAUDE'] = (df_acumulados['cobertura_saude_suplementar']*df_pop_fem['POPULACAO_FEMININA_10_A_49'].astype(int)).astype(int)
df_pop_fem_ps['POP_FEM_10_49_COM_PLANO_SAUDE'] = ((1.0-df_cob_sus['COBERTURA_SUS'])*df_pop_fem['POP_FEM_10_49'].astype(int)).astype(int)

# Finalização

In [30]:
# Conversão do CODMUNRES para inteiro, para que seja possível a junção
base_df['CODMUNRES']=base_df['CODMUNRES'].astype(int)
df_t_nasc_vivos['CODMUNRES']=df_t_nasc_vivos['CODMUNRES'].astype(int)
df_menor20['CODMUNRES']=df_menor20['CODMUNRES'].astype(int)
df_entre20_34['CODMUNRES']=df_entre20_34['CODMUNRES'].astype(int)
df_maior35['CODMUNRES']=df_maior35['CODMUNRES'].astype(int)
df_cor_branca['CODMUNRES']=df_cor_branca['CODMUNRES'].astype(int)
df_cor_preta['CODMUNRES']=df_cor_preta['CODMUNRES'].astype(int)
df_cor_parda['CODMUNRES']=df_cor_parda['CODMUNRES'].astype(int)
df_cor_amarela['CODMUNRES']=df_cor_amarela['CODMUNRES'].astype(int)
df_cor_indigena['CODMUNRES']=df_cor_indigena['CODMUNRES'].astype(int)
df_esc_ate_4['CODMUNRES']=df_esc_ate_4['CODMUNRES'].astype(int)
df_esc_4_a_7['CODMUNRES']=df_esc_4_a_7['CODMUNRES'].astype(int)
df_esc_8_a_11['CODMUNRES']=df_esc_8_a_11['CODMUNRES'].astype(int)
df_esc_acima_de_11['CODMUNRES']=df_esc_acima_de_11['CODMUNRES'].astype(int)
df_cobertura_esf['CODMUNRES']=df_cobertura_esf['CODMUNRES'].astype(int)
df_pop_fem_ps['CODMUNRES']=df_pop_fem_ps['CODMUNRES'].astype(int)
df_pop_fem_ps['ano_nasc']=df_pop_fem_ps['ano_nasc'].astype(int)
df_pop_fem['CODMUNRES']=df_pop_fem['CODMUNRES'].astype(int)
df_pop_fem['ano_nasc']=df_pop_fem['ano_nasc'].astype(int)
# Proporção mulheres 10 a 49 anos usuárias SUS
# Tabela de subresgistro

# Junção em um dataframe final
df_final = pd.merge(base_df, df_t_nasc_vivos, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_menor20, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_entre20_34, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_maior35, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_cor_branca, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_cor_preta, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_cor_parda, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_cor_amarela, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_cor_indigena, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_esc_ate_4, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_esc_4_a_7, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_esc_8_a_11, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_esc_acima_de_11, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_cobertura_esf, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_pop_fem_ps, how='left', on=['CODMUNRES','ano_nasc'])
#df_final = pd.merge(df_final, df_pop_fem, how='left', on=['CODMUNRES','ano_nasc'])

# Preencher NaN com zeros
df_final = df_final.fillna(0)
df_final.rename(columns={'ano_nasc': 'ANO'},
               inplace=True)

del df_final['CODIGO_MUNICIPIO']

[i in range(len(df_final.columns.values.tolist()))]
aux = [i for i in range(len(df_final.columns.values.tolist()))]
aux[0] = 1
aux[1] = 0
df_final = df_final.iloc[:, aux]

In [31]:
df_final.head()

,CODMUNRES,ANO,TOTAL_DE_NASCIDOS_VIVOS,NVM_MENOR_QUE_20_ANOS,NVM_ENTRE_20_E_34_ANOS,NVM_MAIOR_QUE_34_ANOS,NVM_COM_COR_DA_PELE_BRANCA,NVM_COM_COR_DA_PELE_PRETA,NVM_COM_COR_DA_PELE_PARDA,NVM_COM_COR_DA_PELE_AMARELA,NVM_INDIGENAS,NVM_COM_ESCOLARIDADE_ATE_3,NVM_COM_ESCOLARIDADE_DE_4_A_7,NVM_COM_ESCOLARIDADE_DE_8_A_11,NVM_COM_ESCOLARIDADE_ACIMA_DE_11,MEDIA_COBERTURA_ESF,POPULACAO_TOTAL,POPULACAO_FEMININA_10_A_49,POP_FEM_10_49_COM_PLANO_SAUDE
0,110001,2012,386.0,76.0,287.0,23.0,132.0,14.0,209.0,3.0,13.0,40.0,121.0,164.0,56.0,17250.0,24228.0,7810,624
1,110001,2013,382.0,79.0,277.0,26.0,138.0,8.0,194.0,1.0,17.0,32.0,113.0,178.0,49.0,17537.5,24069.0,32588,2607
2,110001,2014,341.0,69.0,236.0,36.0,106.0,8.0,167.0,1.0,21.0,26.0,108.0,166.0,30.0,20700.0,25728.0,1873,149
3,110001,2015,373.0,74.0,277.0,22.0,117.0,8.0,203.0,0.0,25.0,20.0,108.0,186.0,55.0,17250.0,25652.0,27621,2209
4,110001,2016,326.0,58.0,244.0,24.0,88.0,4.0,193.0,0.0,23.0,25.0,88.0,152.0,55.0,20412.5,25578.0,5676,454

In [32]:
df_final.columns.values.tolist()

['CODMUNRES',
 'ANO',
 'TOTAL_DE_NASCIDOS_VIVOS',
 'NVM_MENOR_QUE_20_ANOS',
 'NVM_ENTRE_20_E_34_ANOS',
 'NVM_MAIOR_QUE_34_ANOS',
 'NVM_COM_COR_DA_PELE_BRANCA',
 'NVM_COM_COR_DA_PELE_PRETA',
 'NVM_COM_COR_DA_PELE_PARDA',
 'NVM_COM_COR_DA_PELE_AMARELA',
 'NVM_INDIGENAS',
 'NVM_COM_ESCOLARIDADE_ATE_3',
 'NVM_COM_ESCOLARIDADE_DE_4_A_7',
 'NVM_COM_ESCOLARIDADE_DE_8_A_11',
 'NVM_COM_ESCOLARIDADE_ACIMA_DE_11',
 'MEDIA_COBERTURA_ESF',
 'POPULACAO_TOTAL',
 'POPULACAO_FEMININA_10_A_49',
 'POP_FEM_10_49_COM_PLANO_SAUDE']

In [33]:
df_final.to_csv('./indicadores_bloco1_socioeconomicos_2012-2020.csv',index=False)