# Introdução

## Importação das bibliotecas necessarias

In [4]:
import requests
import pandas as pd
import os
import json
import sys
import matplotlib.pyplot as plt
import funcoes_comuns as fc
from importlib import reload
reload(fc)

# Dataframe base de Código do município e Ano

In [5]:
base_df = fc.get_tb_municipios()
base_df.head()

  CODIGO_MUNICIPIO  ano_nasc CODMUNRES
0          1100015      2012    110001
1          1100015      2013    110001
2          1100015      2014    110001
3          1100015      2015    110001
4          1100015      2016    110001

# Nascidos vivos de mulheres de 2012 a 2020

In [6]:
%time
df_t_nasc_vivos = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as TOTAL_DE_NASCIDOS_VIVOS \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 9.78 µs
...................................................(y)
Record rows length : 50268

# Quantidade de nascimentos por cesariana

In [7]:
%time
df_cesariana = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as MULHERES_COM_PARTO_CESARIANA \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    PARTO=2 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 8.11 µs
...................................................(y)
Record rows length : 50237

# Quantidade de nascidos vivos do grupo 1 de Robson

In [8]:
%time
df_1robson = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_1 \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    TPROBSON=1 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.87 µs
.............................................(y)
Record rows length : 44051

# Quantidade de nascidos vivos do grupo 2 de Robson

In [9]:
%time
df_2robson = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_2 \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    TPROBSON=2 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.87 µs
............................................(y)
Record rows length : 43459

# Quantidade de nascidos vivos do grupo 3 de Robson

In [10]:
%time
df_3robson = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_3 \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    TPROBSON=3 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 0 ns
............................................(y)
Record rows length : 43839

# Quantidade de nascidos vivos do grupo 4 de Robson

In [11]:
%time
df_4robson = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_4 \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    TPROBSON=4 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.87 µs
...........................................(y)
Record rows length : 42463

# Quantidade de nascidos vivos do grupo 5 de Robson

In [12]:
%time
df_5robson = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_5 \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    TPROBSON=5 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 8.34 µs
.............................................(y)
Record rows length : 44483

# Quantidade de nascidos vivos do grupo 6 a 9 de Robson

In [13]:
%time
df_6_a_9robson = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_6_ao_9 \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    TPROBSON>=6 AND TPROBSON <=9 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 7.87 µs
..........................................(y)
Record rows length : 41761

# Quantidade de nascidos vivos do grupo 10 de Robson

In [14]:
%time
df_10robson = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_10 \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    TPROBSON=10 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 0 ns
............................................(y)
Record rows length : 43733

# Contribuição relativa do grupo 1 de Robson para a taxa global de cesariana

In [15]:
%time
df_1robson_tx_cesaria = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as TOTAL_CESARIANA_GRUPO_ROBSON_1 \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    TPROBSON=1 AND PARTO=2 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.82 µs
...........................................(y)
Record rows length : 42746

# Contribuição relativa do grupo 2 de Robson para taxa global de cesariana

In [16]:
%time
df_2robson_tx_cesaria = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as TOTAL_CESARIANA_GRUPO_ROBSON_2 \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    TPROBSON=2 AND PARTO=2 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 3 µs, sys: 1 µs, total: 4 µs
Wall time: 7.87 µs
...........................................(y)
Record rows length : 42638

# Contribuição relativa do grupo 3 de Robson para taxa global de cesariana

In [17]:
%time
df_3robson_tx_cesaria = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as TOTAL_CESARIANA_GRUPO_ROBSON_3 \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    TPROBSON=3 AND PARTO=2 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.39 µs
........................................(y)
Record rows length : 39004

# Contribuição relativa do grupo 4 de Robson para taxa global de cesariana

In [18]:
%time
df_4robson_tx_cesaria = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as TOTAL_CESARIANA_GRUPO_ROBSON_4 \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    TPROBSON=4 AND PARTO=2 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 0 ns
........................................(y)
Record rows length : 39633

# Contribuição relativa do grupo 5 de Robson para taxa global de cesariana

In [19]:
%time
df_5robson_tx_cesaria = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as TOTAL_CESARIANA_GRUPO_ROBSON_5 \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    TPROBSON=5 AND PARTO=2 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 0 ns
.............................................(y)
Record rows length : 44417

# Contribuição relativa do grupo 6 a 9 de Robson para taxa global de cesariana

In [20]:
%time
df_6_a_9robson_tx_cesaria = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as TOTAL_CESARIANA_GRUPO_ROBSON_6_ao_9 \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    TPROBSON>=6 AND TPROBSON <=9 AND PARTO=2 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 13 µs, sys: 2 µs, total: 15 µs
Wall time: 19.1 µs
..........................................(y)
Record rows length : 41021

# Contribuição relativa do grupo 10 de Robson para taxa global de cesariana

In [21]:
%time
df_10robson_tx_cesaria = fc.build_df_by_sql_query("SELECT CODMUNRES, ano_nasc, count(*) as TOTAL_CESARIANA_GRUPO_ROBSON_10 \
                    FROM \"datasus-sinasc\" \
                    WHERE ano_nasc>=2012 AND \
                    ano_nasc<=2020 AND \
                    TPROBSON=10 AND PARTO=2 \
                    GROUP BY CODMUNRES, ano_nasc")

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 2.15 µs
..........................................(y)
Record rows length : 41870

# Finalização

In [22]:
# Conversão do CODMUNRES para inteiro, para que seja possível a junção
base_df['CODMUNRES']=base_df['CODMUNRES'].astype(int)
df_t_nasc_vivos['CODMUNRES']=df_t_nasc_vivos['CODMUNRES'].astype(int)
df_cesariana['CODMUNRES']=df_cesariana['CODMUNRES'].astype(int)
df_1robson['CODMUNRES']=df_1robson['CODMUNRES'].astype(int)
df_2robson['CODMUNRES']=df_2robson['CODMUNRES'].astype(int)
df_3robson['CODMUNRES']=df_3robson['CODMUNRES'].astype(int)
df_4robson['CODMUNRES']=df_4robson['CODMUNRES'].astype(int)
df_5robson['CODMUNRES']=df_5robson['CODMUNRES'].astype(int)
df_6_a_9robson['CODMUNRES']=df_6_a_9robson['CODMUNRES'].astype(int)
df_10robson['CODMUNRES']=df_10robson['CODMUNRES'].astype(int)
df_1robson_tx_cesaria['CODMUNRES']=df_1robson_tx_cesaria['CODMUNRES'].astype(int)
df_2robson_tx_cesaria['CODMUNRES']=df_2robson_tx_cesaria['CODMUNRES'].astype(int)
df_3robson_tx_cesaria['CODMUNRES']=df_3robson_tx_cesaria['CODMUNRES'].astype(int)
df_4robson_tx_cesaria['CODMUNRES']=df_4robson_tx_cesaria['CODMUNRES'].astype(int)
df_5robson_tx_cesaria['CODMUNRES']=df_5robson_tx_cesaria['CODMUNRES'].astype(int)
df_6_a_9robson_tx_cesaria['CODMUNRES']=df_6_a_9robson_tx_cesaria['CODMUNRES'].astype(int)
df_10robson_tx_cesaria['CODMUNRES']=df_10robson_tx_cesaria['CODMUNRES'].astype(int)

# Junção em um dataframe final
df_final = pd.merge(base_df, df_t_nasc_vivos, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_cesariana, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_1robson, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_2robson, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_3robson, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_4robson, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_5robson, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_6_a_9robson, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_10robson, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_1robson_tx_cesaria, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_2robson_tx_cesaria, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_3robson_tx_cesaria, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_4robson_tx_cesaria, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_5robson_tx_cesaria, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_6_a_9robson_tx_cesaria, how='left', on=['CODMUNRES','ano_nasc'])
df_final = pd.merge(df_final, df_10robson_tx_cesaria, how='left', on=['CODMUNRES','ano_nasc'])

# Preencher NaN com zeros
df_final = df_final.fillna(0)
df_final.rename(columns={'ano_nasc': 'ANO_NASCIMENTO'},
               inplace=True)

del df_final['CODIGO_MUNICIPIO']

aux = [i for i in range(len(df_final.columns.values.tolist()))]
aux[0] = 1
aux[1] = 0
df_final = df_final.iloc[:, aux]

In [23]:
df_final.head()

,CODMUNRES,ANO_NASCIMENTO,TOTAL_DE_NASCIDOS_VIVOS,MULHERES_COM_PARTO_CESARIANA,MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_1,MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_2,MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_3,MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_4,MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_5,MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_6_ao_9,MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_10,TOTAL_CESARIANA_GRUPO_ROBSON_1,TOTAL_CESARIANA_GRUPO_ROBSON_2,TOTAL_CESARIANA_GRUPO_ROBSON_3,TOTAL_CESARIANA_GRUPO_ROBSON_4,TOTAL_CESARIANA_GRUPO_ROBSON_5,TOTAL_CESARIANA_GRUPO_ROBSON_6_ao_9,TOTAL_CESARIANA_GRUPO_ROBSON_10
0,110001,2012,386.0,267.0,95.0,21.0,97.0,4.0,105.0,21.0,33.0,72.0,21.0,28.0,2.0,97.0,20.0,22.0
1,110001,2013,382.0,272.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,110001,2014,341.0,238.0,83.0,14.0,81.0,9.0,108.0,21.0,22.0,66.0,12.0,22.0,6.0,102.0,16.0,11.0
3,110001,2015,373.0,271.0,105.0,22.0,70.0,9.0,116.0,17.0,28.0,84.0,20.0,20.0,7.0,111.0,11.0,14.0
4,110001,2016,326.0,226.0,91.0,14.0,79.0,4.0,90.0,13.0,27.0,61.0,14.0,34.0,4.0,84.0,9.0,15.0

In [24]:
df_final.columns.values.tolist()

['CODMUNRES',
 'ANO_NASCIMENTO',
 'TOTAL_DE_NASCIDOS_VIVOS',
 'MULHERES_COM_PARTO_CESARIANA',
 'MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_1',
 'MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_2',
 'MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_3',
 'MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_4',
 'MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_5',
 'MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_6_ao_9',
 'MULHERES_DENTRO_DO_GRUPO_DE_ROBSON_10',
 'TOTAL_CESARIANA_GRUPO_ROBSON_1',
 'TOTAL_CESARIANA_GRUPO_ROBSON_2',
 'TOTAL_CESARIANA_GRUPO_ROBSON_3',
 'TOTAL_CESARIANA_GRUPO_ROBSON_4',
 'TOTAL_CESARIANA_GRUPO_ROBSON_5',
 'TOTAL_CESARIANA_GRUPO_ROBSON_6_ao_9',
 'TOTAL_CESARIANA_GRUPO_ROBSON_10']

In [25]:
df_final.to_csv('./indicadores_bloco4_assistencia_ao_parto_2012-2020.csv',index=False)